version: "3"
services:
  app:
    image: webdevops/php-nginx-dev:7.1
    networks:
      - proxy
    volumes:
      - /var/www/html/bookshelf:/app
    environment:
      - PHP_DEBUGGER=xdebug
      - PHP_DISPLAY_ERRORS=1
      - PHP_DATE_TIMEZONE=Asia/Ho_Chi_Minh
      - WEB_DOCUMENT_ROOT=/app/public
    labels:
      - traefik.enable=true
      - traefik.backend=bookshelf
      - traefik.frontend.rule=Host:dev.bookshelf.com
      - traefik.docker.network=proxy
      - traefik.port=80
  nodejs:
    image: node:8
    stdin_open: true
    networks:
      - proxy
    volumes:
      - /var/www/html/bookshelf:/app
networks:
  proxy:
    external: true
